                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                }
                
                body {}
                
                .middle {
                    margin: 0 auto;
                    text-align: center;
                }
                
                html {
                    --blue-color: #517fff;
                }
                
                html {
                    --pink-color:
                }
                
                html {
                    --p-color: #5e5e5e;
                }
                
                main {}
                
                .botton {
                    padding: 10px 28px;
                    border-radius: 5px;
                    box-shadow: none;
                    background-color: var(--blue-color);
                    color: white;
                }
                
                #part1 {
                    background-color: white;
                    background-image: url(./img/spot-bg-01.jpg);
                    height: 600px;
                    background-position: center;
                    background-size: cover;
                    -webkit-clip-path: polygon(100% 0, 99% 91%, 0 100%, 0 0);
                    -moz-clip-path: polygon(100% 0, 100% 76%, 0 100%, 0 0);
                }
                
                #part1 div {
                    width: 450px;
                    background-color: white;
                    text-align: center;
                    border: 1px solid white;
                    padding: 50px;
                    position: relative;
                }
                
                #part1 div p:nth-child(1) {
                    color: #ed5c9f;
                    font-size: 200%;
                    padding: 30px;
                    position: relative;
                }
                
                #part1 div p:nth-child(2) {
                    color: lightblue;
                    padding-bottom: 27px;
                }
                
                #part1 div p:nth-child(3) {
                    text-align: center;
                    text-align: left;
                    color: var(--p-color);
                }
                
                #part1 div button {
                    margin: 30px;
                    box-shadow: none;
                }
                
                #part2 {}
                
                #part2 div {
                    vertical-align: top;
                    margin-top: 40px;
                    margin-bottom: 30px;
                    padding: 0 15px;
                }
                
                #part2 div:nth-child(1) {
                    width: 270px;
                    height: 270px;
                    text-align: left;
                    position: relative;
                }
                
                #part2 div:nth-child(1) button {
                    float: right;
                    margin-top: 30px;
                }
                
                #part2 div p:nth-child(1) {
                    color: lightblue;
                    font-size: large;
                }
                
                #part2 div p:nth-child(3) {
                    color: var(--p-color);
                }
                
                #part2 div p:nth-child(5) {
                    color: var(--p-color);
                }
                
                #part2 div:nth-child(2) {
                    background-image: url(./img/img-01.jpg);
                    background-position: center;
                    background-size: cover;
                    border-radius: 50%;
                    width: 270px;
                    height: 270px;
                }
                
                #part3 {
                    background-image: url(./img/spot-bg-02.jpg);
                    height: 600px;
                    background-position: center;
                    background-size: cover;
                    -webkit-clip-path: polygon(100% 15%, 100% 85%, 0 100%, 0 0);
                }
                
                #part3 div {
                    width: 450px;
                    background-color: white;
                    text-align: center;
                    border: 1px solid white;
                    padding: 70px;
                    padding-top: 20px;
                    padding-bottom: 90px;
                    position: relative;
                }
                
                #part3 div p:nth-child(1) {
                    color: #ed5c9f;
                    font-size: 150%;
                    padding: 30px;
                    position: relative;
                }
                
                #part3 div p:nth-child(2) {
                    color: var(--p-color);
                    text-align: left;
                    padding-bottom: 27px;
                }
                
                #part3 div p:nth-child(3) {
                    text-align: left;
                    color: var(--p-color);
                }
                
                #part4 {
                    padding: 20px 100px;
                    height: 400px;
                }
                
                #part4 form {
                    vertical-align: top;
                    margin-top: 40px;
                    margin-bottom: 30px;
                    padding: 0 15px;
                    float: left;
                    width: 270px;
                    height: 270px;
                }
                
                #part4 form textarea {
                    padding: 50px 47px;
                    border-bottom: 1px solid rgb(238, 106, 157);
                    border-top: none;
                    border-left: none;
                    border-right: none;
                }
                
                #part4 form input {
                    padding: 7px 40px;
                    border: none;
                    border-bottom: 1px solid rgb(238, 106, 157);
                }
                
                #part4 div:nth-child(1) {}
                
                #part4 div {
                    vertical-align: top;
                    margin-top: 40px;
                    margin-bottom: 30px;
                    padding: 0 15px;
                    background-image: url(./img/img-01.jpg);
                    background-position: center;
                    background-size: cover;
                    border-radius: 50%;
                    width: 270px;
                    float: right;
                    height: 270px;
                }
                
                #part4 form button {
                    float: right;
                    margin-top: 30px;
                    border: none;
                    background-color: rgb(252, 90, 117);
                }